## ESERCIZIO 3 LEZIONI 7/8
#### PUNTO 1 e 2

In [3]:
import numpy as np
import pandas as pd

#### PUNTI 1 e 2

In [49]:
precip=pd.read_csv(r"C:\Users\Alice\Desktop\CSV\3ad26cd0-6d57-4bf7-873c-17361415a78f.csv")
#print("dataframe precipitazioni",precip)
precip

         _id  Tipo-Zone  Id Sensore             Data-Ora  Valore Cumulato
0          1      Brera       19373  2018-01-01T00:00:00              0.2
1          2     Juvara        5908  2018-01-01T00:00:00              0.0
2          3   Lambrate        2006  2018-01-01T00:00:00              0.0
3          4  Zavattari        9341  2018-01-01T00:00:00              0.4
4          5  Rosellini       14121  2018-01-01T00:00:00              0.0
...      ...        ...         ...                  ...              ...
43680  43681      Brera       19373  2018-12-31T00:00:00              0.0
43681  43682     Juvara        5908  2018-12-31T00:00:00              0.0
43682  43683   Lambrate        2006  2018-12-31T00:00:00              0.0
43683  43684  Zavattari        9341  2018-12-31T00:00:00              0.0
43684  43685  Rosellini       14121  2018-12-31T00:00:00              0.0

[43685 rows x 5 columns]

In [14]:
precip2=precip
precip2
precip2=precip2.rename(columns={"_id":"id","Tipo-Zone":"zona", "Id Sensore":"sensore", "Data-Ora":"data_ora", "Valore Cumulato":"val_cum"})
precip2

          id       zona  sensore             data_ora  val_cum
0          1      Brera    19373  2018-01-01T00:00:00      0.2
1          2     Juvara     5908  2018-01-01T00:00:00      0.0
2          3   Lambrate     2006  2018-01-01T00:00:00      0.0
3          4  Zavattari     9341  2018-01-01T00:00:00      0.4
4          5  Rosellini    14121  2018-01-01T00:00:00      0.0
...      ...        ...      ...                  ...      ...
43680  43681      Brera    19373  2018-12-31T00:00:00      0.0
43681  43682     Juvara     5908  2018-12-31T00:00:00      0.0
43682  43683   Lambrate     2006  2018-12-31T00:00:00      0.0
43683  43684  Zavattari     9341  2018-12-31T00:00:00      0.0
43684  43685  Rosellini    14121  2018-12-31T00:00:00      0.0

[43685 rows x 5 columns]

In [80]:
#precip2.loc
mask_pioggia=[precip2["val_cum"]>0]
print("MASCHERE BOOLEANE DEI GIORNI DI PIOGGIA:\n", mask_pioggia)

MASCHERE BOOLEANE DEI GIORNI DI PIOGGIA:
 [0         True
1        False
2        False
3         True
4        False
         ...
43680    False
43681    False
43682    False
43683    False
43684    False
Name: val_cum, Length: 43685, dtype: bool]

#### PUNTO 3

In [34]:
#Ora calcoliamo alcune statistiche (le stesse dell’esempio
#del libro: media, mediana, max, min
print("STATISTICHE RISPETTO A TUTTO IL DATAFRAME:\n")
print("minimo di precipitazioni nell'anno 2018:", np.min(precip2["val_cum"]))
print("massimo di precipitazioni nell'anno 2018:", np.max(precip2["val_cum"]))
print("media di precipitazioni nell'anno 2018:", np.mean(precip2["val_cum"]))
print("mediana di precipitazioni nell'anno 2018:", np.median(precip2["val_cum"]))

STATISTICHE RISPETTO A TUTTO IL DATAFRAME:

minimo di precipitazioni nell'anno 2018: 0.0
massimo di precipitazioni nell'anno 2018: 28.8
media di precipitazioni nell'anno 2018: 0.10222748155366658
mediana di precipitazioni nell'anno 2018: nan

In [35]:
gg_pioggia=precip2.loc[precip2["val_cum"]>0]
gg_pioggia
print("STATISTICHE RISPETTO SOLO AI GIORNI PIOVOSI:\n")
print("minimo di precipitazioni nei giorni di pioggia nell'anno 2018:", np.min(gg_pioggia["val_cum"]))
print("massimo di precipitazioni nei giorni di pioggia nell'anno 2018:", np.max(gg_pioggia["val_cum"]))
print("media di precipitazioni nei giorni di pioggia nell'anno 2018:", np.mean(gg_pioggia["val_cum"]))
print("mediana di precipitazioni nei giorni di pioggia nell'anno 2018:", np.median(gg_pioggia["val_cum"]))

STATISTICHE RISPETTO SOLO AI GIORNI PIOVOSI:

minimo di precipitazioni nei giorni di pioggia nell'anno 2018: 0.2
massimo di precipitazioni nei giorni di pioggia nell'anno 2018: 28.8
media di precipitazioni nei giorni di pioggia nell'anno 2018: 1.2523592950539857
mediana di precipitazioni nei giorni di pioggia nell'anno 2018: 0.6

#### PUNTO 4

In [69]:
# nan significa che il valore non è un numero, in questo caso particolare potremmo ipotizzare che il sensore non funzionava o che comunque non si è riusciti a rilevare le precipitazioni
# la mediana risulta nan perchè probabilmente il valore centrale della distribuzione non è stato rilevato
# la media è la somma di tutti i valori di una distribuzione diviso il numero dei valori, mentre la mediana sarebbe ilvalore centrale della distribuzione
# la media cambia perchè tra i valori considerati non ci sono quelli non piovosi
# perchè qui il valore centrale della distribuzione è il valore 0.6

#### PUNTO 5

In [81]:
#ci sono vaori nan nella colonna val_cum? (se esce TRUE ci sono)
precip2["val_cum"].isnull().any() # oppure va bene anche: precip2["val_cum"].isna().values.any() 
print("è uscito TRUE quindi ci sono valori nan:", precip2["val_cum"].isnull().any())

è uscito TRUE quindi ci sono valori nan: True

In [87]:
#Trovare tutte le righe del dataframe precip che contengono un nan, in any metto axis=1 che sarebbe l'asse orizzontale, 
#e dato che io devo trovare le righe lo uso. se in any non metto nulla probabilmente me le cerca in tutto il dataframe
precip_nan= precip2[precip2.isnull().values.any(axis=1)]
print("TROVO TUTTE LE RIGHE CON NaN:\n", precip_nan)

TROVO TUTTE LE RIGHE CON NaN:
           id       zona  sensore             data_ora  val_cum
43        44  Zavattari     9341  2018-01-01T08:00:00      NaN
153      154  Zavattari     9341  2018-02-01T06:00:00      NaN
248      249  Zavattari     9341  2018-03-01T01:00:00      NaN
368      369  Zavattari     9341  2018-04-01T01:00:00      NaN
488      489  Zavattari     9341  2018-05-01T01:00:00      NaN
...      ...        ...      ...                  ...      ...
42966  42967     Juvara     5908  2018-12-25T01:00:00      NaN
42971  42972     Juvara     5908  2018-12-25T02:00:00      NaN
42976  42977     Juvara     5908  2018-12-25T03:00:00      NaN
42981  42982     Juvara     5908  2018-12-25T04:00:00      NaN
42986  42987     Juvara     5908  2018-12-25T05:00:00      NaN

[587 rows x 5 columns]

In [84]:
#Rimuovere da precip tutte le righe che hanno nan nella colonna valore e
#salvare il risultato come nuovo dataframe df1 (quindi ora avrò due
#dataframe: precip2 che contiene anche i nan; df1 che non contiene i nan)
df1=precip2.dropna()
print("TABELLA SENZA NaN:\n", df1)

TABELLA SENZA NaN:
           id       zona  sensore             data_ora  val_cum
0          1      Brera    19373  2018-01-01T00:00:00      0.2
1          2     Juvara     5908  2018-01-01T00:00:00      0.0
2          3   Lambrate     2006  2018-01-01T00:00:00      0.0
3          4  Zavattari     9341  2018-01-01T00:00:00      0.4
4          5  Rosellini    14121  2018-01-01T00:00:00      0.0
...      ...        ...      ...                  ...      ...
43680  43681      Brera    19373  2018-12-31T00:00:00      0.0
43681  43682     Juvara     5908  2018-12-31T00:00:00      0.0
43682  43683   Lambrate     2006  2018-12-31T00:00:00      0.0
43683  43684  Zavattari     9341  2018-12-31T00:00:00      0.0
43684  43685  Rosellini    14121  2018-12-31T00:00:00      0.0

[43098 rows x 5 columns]

In [85]:
#Calcolare di nuovo la mediana sul dataframe df1, che ha giorni di pioggia e non piovosi ma non ha più i nan
print("MEDIANA DEL NUOVO DATAFRAME df1:", np.median(df1["val_cum"]))

MEDIANA DEL NUOVO DATAFRAME df1: 0.0

#### PUNTO 6

In [71]:
# quanti sono i valori nan?
precip2["val_cum"].isnull().sum() 
print("Quanti valori nan ci sono?", precip2["val_cum"].isnull().sum())

Quanti valori nan ci sono? 587

In [88]:
c=precip2.groupby(precip2["val_cum"]).count()
print("PER CIASCUN VALORE DELLA PRECIPITAZIONE, VEDERE IL NUMERO DEI GIORNI:\n", c)

PER CIASCUN VALORE DELLA PRECIPITAZIONE, VEDERE IL NUMERO DEI GIORNI:
             id   zona  sensore  data_ora
val_cum
0.0      39580  39580    39580     39580
0.2       1075   1075     1075      1075
0.4        480    480      480       480
0.6        326    326      326       326
0.8        291    291      291       291
...        ...    ...      ...       ...
18.4         1      1        1         1
20.6         1      1        1         1
24.0         1      1        1         1
26.2         1      1        1         1
28.8         1      1        1         1

[65 rows x 4 columns]