##### Esercizio 3 lezione del 15/10/2020

In [1]:
import numpy as np
import pandas as pd
precip =pd.read_csv(r"C:\Users\Laura\Desktop\PythonDataScienceHandbook-master\notebooks\data\precipitazioni.csv")
precip.drop('_id', inplace=True, axis=1)
precip

       Tipo-Zone  Id Sensore             Data-Ora  Valore Cumulato
0          Brera       19373  2018-01-01T00:00:00              0.2
1         Juvara        5908  2018-01-01T00:00:00              0.0
2       Lambrate        2006  2018-01-01T00:00:00              0.0
3      Zavattari        9341  2018-01-01T00:00:00              0.4
4      Rosellini       14121  2018-01-01T00:00:00              0.0
...          ...         ...                  ...              ...
43680      Brera       19373  2018-12-31T00:00:00              0.0
43681     Juvara        5908  2018-12-31T00:00:00              0.0
43682   Lambrate        2006  2018-12-31T00:00:00              0.0
43683  Zavattari        9341  2018-12-31T00:00:00              0.0
43684  Rosellini       14121  2018-12-31T00:00:00              0.0

[43685 rows x 4 columns]

In [2]:
#Rinominare le colonne del dataframe per avere nomi più semplici da usare (ad esempio senza spazi, più corti) 
precip = precip.rename(columns={'Tipo-Zone': 'zone', 'Id Sensore': 'id', 'Data-Ora': 'data', 'Valore Cumulato': 'valore'})

In [3]:
#Creare una mask di valori booleani rispetto alla condizione se un certo giorno è stato piovoso oppure no 
# per distinguere un giorno piovoso da uno non basta guardare se l'elemento valore è maggiore di 0
mask_rain= precip['valore'] > 0.0
mask_rain

0         True
1        False
2        False
3         True
4        False
         ...
43680    False
43681    False
43682    False
43683    False
43684    False
Name: valore, Length: 43685, dtype: bool

In [28]:
#Ora calcoliamo alcune statistiche (le stesse dell’esempio del libro: media, mediana, max, min)
#rispetto a tutto il data frame precip
print("STATISTICHE RISPETTO A TUTTO IL DATAFRAME")
print("Media delle precipitazione del 2018: ", np.mean(precip['valore']))
print("Mediana delle precipitazione del 2018: ", np.median(precip['valore']))
print("Massimo delle precipitazione del 2018: ", np.max(precip['valore']))
print("Minimo delle precipitazione del 2018: ", np.min(precip['valore']))
# Nan significa not a number quindi probabilmente un valore mancante
#la mediana risulta in questo modo perchè prbabilmente l'elemento alla posizione centrale è un nan

STATISTICHE RISPETTO A TUTTO IL DATAFRAME
Media delle precipitazione del 2018:  0.10222748155366658
Mediana delle precipitazione del 2018:  nan
Massimo delle precipitazione del 2018:  28.8
Minimo delle precipitazione del 2018:  0.0

In [30]:
#solo rispetto ai giorni di pioggia
rain= precip.loc[(precip['valore'] >0) ]
print("STATISTICHE RISPETTO AI GIORNI DI PIOGGIA")
print("Media delle precipitazione dei giorni di pioggia del 2018: ", np.mean(rain['valore']))
print("Mediana delle precipitazione dei giorni di pioggia del 2018: ", np.median(rain['valore']))
print("Massimo delle precipitazione dei giorni di pioggia del 2018: ",np.max( rain['valore']))
print("Minimo delle precipitazione dei giorni di pioggia del 2018: ", np.min(rain['valore']))

STATISTICHE RISPETTO AI GIORNI DI PIOGGIA
Media delle precipitazione dei giorni di pioggia del 2018:  1.2523592950539857
Mediana delle precipitazione dei giorni di pioggia del 2018:  0.6
Massimo delle precipitazione dei giorni di pioggia del 2018:  28.8
Minimo delle precipitazione dei giorni di pioggia del 2018:  0.2

In [58]:
#Trovare una funzione ed eseguire il corrispondente comando che ci permetta di verificare se
#nella colonna valore ci sono dei nan
print("Verificare se nella colonna valore ci sono dei nan, se il risultato è true allora ci sono altrimenti non ci sono :"
      ,precip['valore'].isna().values.any())

Verificare se nella colonna valore ci sono dei nan, se il risultato è true allora ci sono altrimenti non ci sono : True

In [65]:
#Trovare tutte le righe del dataframe precip che contengono un nan
print("TROVO LE RIGHE DEL DATAFRAME CHE CONTEGONO DATI NAN \n")
nan_prec = precip[precip.isna().any(axis=1)]
print (nan_prec)

TROVO LE RIGHE DEL DATAFRAME CHE CONTEGONO DATI NAN

            zone    id                 data  valore   rain
43     Zavattari  9341  2018-01-01T08:00:00     NaN  False
153    Zavattari  9341  2018-02-01T06:00:00     NaN  False
248    Zavattari  9341  2018-03-01T01:00:00     NaN  False
368    Zavattari  9341  2018-04-01T01:00:00     NaN  False
488    Zavattari  9341  2018-05-01T01:00:00     NaN  False
...          ...   ...                  ...     ...    ...
42966     Juvara  5908  2018-12-25T01:00:00     NaN  False
42971     Juvara  5908  2018-12-25T02:00:00     NaN  False
42976     Juvara  5908  2018-12-25T03:00:00     NaN  False
42981     Juvara  5908  2018-12-25T04:00:00     NaN  False
42986     Juvara  5908  2018-12-25T05:00:00     NaN  False

[587 rows x 5 columns]

In [42]:
#Rimuovere da precip tutte le righe che hanno nan nella colonna valore e salvare il risultato come nuovo dataframe df1
df1= precip.dropna()
print("\nNuovo dataframe senza elementi nan \n")
df1

Nuovo dataframe senza elementi nan

            zone     id                 data  valore   rain
0          Brera  19373  2018-01-01T00:00:00     0.2   True
1         Juvara   5908  2018-01-01T00:00:00     0.0  False
2       Lambrate   2006  2018-01-01T00:00:00     0.0  False
3      Zavattari   9341  2018-01-01T00:00:00     0.4   True
4      Rosellini  14121  2018-01-01T00:00:00     0.0  False
...          ...    ...                  ...     ...    ...
43680      Brera  19373  2018-12-31T00:00:00     0.0  False
43681     Juvara   5908  2018-12-31T00:00:00     0.0  False
43682   Lambrate   2006  2018-12-31T00:00:00     0.0  False
43683  Zavattari   9341  2018-12-31T00:00:00     0.0  False
43684  Rosellini  14121  2018-12-31T00:00:00     0.0  False

[43098 rows x 5 columns]

In [43]:
#Calcolare di nuovo la mediana sul dataframe df1, che ha giorni di pioggia e non piovosi ma non ha più i nan
print("MEDIANA DEL NUOVO DATAFRAME: ", np.median(df1['valore']))

MEDIANA DEL NUOVO DATAFRAME:  0.0

In [63]:
#quanti giorni hanno avuto piovosità a 0.0, quanti a 0.1, a 0.2 etc. per tutti i valori presenti.
#Vogliamo anche sapere quanti giorni hanno nan come valore
print("\nTABELLA CON IL NUMERO DEI GIORNI PER OGNI VALORE DI PIOVOSITÀ \n")
precip.groupby(precip['valore']).count()

TABELLA CON IL NUMERO DEI GIORNI PER OGNI VALORE DI PIOVOSITÀ

         zone     id   data   rain
valore
0.0     39580  39580  39580  39580
0.2      1075   1075   1075   1075
0.4       480    480    480    480
0.6       326    326    326    326
0.8       291    291    291    291
...       ...    ...    ...    ...
18.4        1      1      1      1
20.6        1      1      1      1
24.0        1      1      1      1
26.2        1      1      1      1
28.8        1      1      1      1

[65 rows x 4 columns]

In [64]:
print("\n NUMERO DI GIORNI CHE HANNO NAN COME VALORE:", precip['valore'].isna().values.sum())

 NUMERO DI GIORNI CHE HANNO NAN COME VALORE: 587